web/WEB-INF/wsdl/localhost_8080/webServiceToPlayAround/webServiceToPlayAround.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://testing.htasia.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://testing.htasia.com/">

<xs:element name="addRecord" type="tns:addRecord"/>

<xs:element name="userinfo" type="tns:userinfo"/>

<xs:element name="verify" type="tns:verify"/>

<xs:element name="verifyResponse" type="tns:verifyResponse"/>

<xs:complexType name="addRecord">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="first_name" type="xs:string" minOccurs="0"/>
<xs:element name="last_name" type="xs:string" minOccurs="0"/>
<xs:element name="age" type="xs:int"/>
<xs:element name="password" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verify">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifyResponse">
<xs:sequence>
<xs:element name="return" type="tns:userinfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userinfo">
<xs:sequence>
<xs:element name="age" type="xs:int" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:int" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>